#nav {font-family: 'Tomorrow', sans-serif;}

h1 {font-family: 'Tomorrow', sans-serif;}




.grid-container {
  display: grid;
  grid-template-columns:auto auto auto; 
  background-color: 
  padding: 10px;
  column-rule-width: 40%
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  
  padding: 20px;
  font-size: 14px;
  text-align:center;
}

h1{font-size: 65px;
    }

#home-image {float:right; position:absolute; left:1000px;top:10px; z-index:2; opacity: 0.8;
}

#nav { width: 100px; padding-top: 1px; text-align: left; padding-left: 30px;z-index: 8; position:absolute;
}

h1{text-align:center;
}

#bodycopy {width:700px; text-align:left; z-index: 4; position: relative; right:475px; font-size: 16px; top:-40px;
}

#TFK{ z-index: 3;position:relative; left:320px; top:-140px;
}


.smoke{ position: absolute; z-index: 1; top:0px; height:995px; left:1px;width:1500px;
}

